body {
    margin: 0;
}

.title {
    background-color: #ebe834;
    text-align: center;
    margin: 0;
    padding: 20 px 0;
    font-family: 'Montserrat', sans-serif;
}

.article-main {
    border: 2px solid blue;
    margin: 0;
    text-align: justify;
    padding: 15px;
}

.photo-main {
    width: 900px;
}

.footer {
    background-color: lightskyblue;
    padding: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}